@import "../../styles/variables";

.side__nav {
  display: flex;
  position: absolute;

  align-items: flex-end;
  top: 35%;
  right: 0px;
  z-index: 1000;
  &-list {
    flex-direction: column;
    list-style: none;

    padding-right: 1.2rem;

    &-item {
      padding-top: 1rem;

      color: $primary-font-color;
      transition: all 0.2s;
      &:first-child {
        color: $secondary-font-color;
      }

      &:hover {
        cursor: pointer;
        color: $primary-font-color;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .side__nav {
    display: none;
  }
}
