@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;700&display=swap");

$header-font-family: "Orbitron", sans-serif;
$primary-color: #20a69a;
$primary-font-color: #fff;
$primary-font-family: "Megrim", cursive;
$secondary-color: #2a3140;
$secondary-font-family: "PT Sans Narrow", sans-serif;
$secondary-font-color: rgba(255, 255, 255, 0.7);
