@import "../../styles/variables";

.title__header {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 35%;
  text-align: center;
  //   padding: 0;
  //   top: 50%;
  //   left: 50%;

  &-start {
    display: flex;
    padding: 0;

    justify-content: center;
    color: $secondary-font-color;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-size: 1.3rem;
    font-weight: 400;
  }

  &-primary {
    margin: 0;

    color: $primary-font-color;
    font-family: $header-font-family;
    font-size: 3rem;
    letter-spacing: 0.5rem;

    text-transform: uppercase;
  }

  &-list {
    color: $secondary-font-color;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
  }
}

.title__list-component {
  list-style: none;
  font-weight: 700;
  padding: 0 3rem;
  letter-spacing: 0.1rem;
  color: $secondary-font-color;
  transition: all 0.2s;

  &:hover {
    cursor: pointer;
    color: #fff;
  }
}

@media only screen and (max-width: 820px) {
  .title__header {
    &-primary {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (max-width: 690px) {
  .title__header {
    &-start {
      font-size: 1.1rem;
    }
    &-primary {
      font-size: 2.2rem;
    }
  }
}
