@import "../../styles/variables";

.about__container {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;

  &-title {
    color: $primary-font-color;
    font-family: $header-font-family;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;

    z-index: -2;
  }

  &-description {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    justify-content: center;
  }
}

img {
  max-width: 100%;
}

h1,
p {
  margin: 0 0 1em 0;
}

.media {
  margin-bottom: 2em;

  //   width: 60%;
  padding: 10px;
}

.media > .title {
  grid-area: title;
  color: $primary-font-color;
  text-transform: uppercase;
  font-weight: 300;
}
.media > .img {
  grid-area: img;
}
.media > .content {
  grid-area: bd;
  color: $secondary-font-color;
}
.media > .footer {
  grid-area: ft;
  position: relative;
}

.footer-button {
  position: absolute;
  border-radius: 4px;
  border: none;
  width: 100%;
  height: 2rem;
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 0.2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #7649fe;

  transition: 0.2s all;
}

.footer-button:hover {
  background-color: #5643fd;
  cursor: pointer;
}

.media {
  display: grid;

  grid-column-gap: 20px;
  grid-template-areas:
    "title"
    "img"
    "bd"
    "ft";
}

@media (min-width: 600px) {
  /* clearfix*/
  .media:after {
    content: "";
    display: block;
    clear: both;
  }

  .media > .media {
    margin-left: 160px;
    clear: both;
  }

  .media .img {
    float: left;
    margin: 0 10px 0 0;
    width: 150px;
  }

  .media .footer {
    display: flex;
    width: 10rem;
    height: 1rem;
    padding: 10px;
  }

  .media.media-flip .img {
    float: right;
    margin: 0 0 0 10px;
  }

  .media > * {
    margin: 0 0 0 160px;
  }

  .media.media-flip > * {
    margin: 0 160px 0 0;
  }

  @supports (display: grid) {
    /* override */
    .media > *,
    .media.media-flip > * {
      margin: 0;
    }
    .media .img,
    .media.media-flip .img {
      width: auto;
      margin: 0;
    }
    .media:after {
      content: none;
    }

    .media {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: 150px 3fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "img title"
        "img bd"
        "ft ft";
    }

    .media.media-flip {
      grid-template-columns: 3fr 150px;
      grid-template-areas:
        "title img"
        "bd img"
        "ft ft";
    }

    .media.img-flexie {
      grid-template-columns: minmax(150px, 1fr) 3fr;
    }

    .media.media-flip.img-flexie {
      grid-template-columns: 3fr minmax(150px, 1fr);
    }

    /* nested */
    .media > .media {
      grid-column: 2 / -1;
      margin: 0; /* override */
      margin-top: 1em;
    }
  }
}

@media only screen and (max-width: 1800px) {
  .about__container {
    height: auto;
  }
}

@media only screen and (max-width: 720px) {
  .about__container {
    height: auto;

    &-title {
      letter-spacing: 0.2rem;
      font-size: 1.5rem;
      text-transform: uppercase;
      padding-top: 4rem;

      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }
}

@media only screen and (max-width: 500px) {
  .about__container {
    height: auto;

    &-title {
      font-size: 1.2rem;
    }
  }
}

@media only screen and (max-width: 420px) {
  .about__container {
    height: auto;

    &-title {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 340px) {
  .about__container {
    height: auto;

    &-title {
      font-size: 0.8rem;
    }
  }
}

.wow {
  visibility: hidden;
}
