@import "../../styles/variables";

.top__nav {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;

  &-list {
    display: flex;

    list-style: none;

    &-item {
      padding: 0 1rem;
      font-size: 1.4rem;
      color: $secondary-font-color;
      transition: all 0.2s;

      &:hover {
        cursor: pointer;
        color: $primary-font-color;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .top__nav {
    &-list {
      display: flex;

      list-style: none;

      &-item {
        padding: 0 0.5rem;
        font-size: 1.2rem;
      }
    }
  }
}
