@import "../../styles/variables";

.top__nav {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;

  &-list {
    padding: 0 3rem;
    display: flex;

    list-style: none;

    &-item {
      padding: 0 2rem;
      font-size: 1.4rem;
      color: $secondary-font-color;
    }
  }
}
