.news__container {
  // display: flex;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-size: 100% 100%;
  height: 100vh;
  width: 100%;
  z-index: 0;

  &-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;

    z-index: -2;
  }

  &-daily {
    display: flex;
    justify-content: center;
    padding-top: 5rem;

    // position: absolute;

    &-title {
      padding: 0 3rem;
      font-size: 3rem;
      color: #0c164f;
    }

    &-story {
      padding: 0 3rem;
      font-size: 1.2rem;
      line-height: 3rem;
    }

    &-date {
      padding: 0 3rem;
      color: #1d1135;
    }
  }
}

/* Messy stack of paper */
.paper {
  background: #fcfbfe;
  padding: 0 30px;
  width: 50%;

  position: relative;
}

.paper,
.paper::before,
.paper::after {
  /* Styles to distinguish sheets from one another */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid #bbb;
}

.paper::before,
.paper::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: #eee;
}

.paper::before {
  right: 15px;
  top: 0;
  transform: rotate(-1deg);
  z-index: -1;
}

.paper::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}

@media only screen and (max-width: 1800px) {
  .news__container {
    height: 100%;

    &-image {
      height: 100%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .news__container {
    height: 100%;

    &-daily-title {
      font-size: 2rem;
    }

    &-daily-story {
      font-size: 1rem;
    }
    &-image {
      height: 100%;
    }
  }
}

@media only screen and (max-width: 720px) {
  .news__container {
    height: 100%;

    &-daily-date {
      font-size: 1.2rem;
    }

    &-daily-title {
      font-size: 1.5rem;
    }

    &-daily-story {
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 500px) {
  .news__container {
    height: 100%;

    &-daily-title {
      font-size: 1.2rem;
    }

    &-daily-story {
      font-size: 0.7rem;
    }
  }
  .paper {
    width: 60%;
  }
}

@media only screen and (max-width: 420px) {
  .news__container {
    height: 100%;

    &-title {
      font-size: 1rem;
    }
  }
}

@media only screen and (max-width: 340px) {
  .news__container {
    height: 100%;

    &-title {
      font-size: 0.8rem;
    }
  }
}
